@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.container .title {
    color: #ffffff;
    font-size: 2.4rem;
    text-align: center;
    margin: 10rem 0 1rem;
    opacity: 0;
    animation: fade-up 0.7s ease-in-out 0.3s forwards;
    font-family: 'lora';
    font-style: italic;
}

.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 23%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111111ec;
    padding: 1rem;
    border-radius: 5%;

    
}


.movies-container div img{
    max-width: 100%;
    border-radius: 5%;
}

.movies-container div img:hover{
    transform:scale(1.05);
    transition: 0.4s;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg{
    color: #f7d354;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover{
    background-color: transparent;
    color: #f7d354;
}

@keyframes fade-up {
    0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);   
}

100% {
    opacity: 0.5;
    transform: translateY(0px) scale(1);
}
}

@keyframes fade-down {
    0% {opacity: 0;
    transform: translateY(-30px) scale(0.9);
}

100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
}
}

@keyframes fade-in {
    0% {opacity: 0;
}

100% {
    opacity: 1;
}
}

@media (max-width: 1200px) {
    .container .title {
        font-size: 2rem;
        margin: 8rem 0 1rem;
    }

    .movies-container div {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .container .title {
        font-size: 1.8rem;
        margin: 10rem 0 0.5rem;
    }

    .movies-container {
        padding: 1.5rem;
        
    }

    .movies-container div {
        width: 45%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .container .title {
        font-size: 1.6rem;
        margin: 10rem 0 0.5rem;
    }

    .movies-container {
        padding: 1rem;
    }

    .movies-container div {
        width: 60%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .container .title {
        font-size: 1.4rem;
        margin: 8.5rem 0 0.6rem;
    }

    .movies-container {
        padding: 0.5rem;
    }

    .movies-container div {
        width: 70%;
        margin-bottom: 1rem;
    }

    .movies-container div a {
        padding: 0.8rem 0.4rem;
    }
}

