#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #111111d0;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(15px);
    top:0;
    z-index: 100;
}

#c2 {
    opacity: 0;
    animation: fade-up 0.4s ease-in-out 0.1s forwards;
    font-size: 16px;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 32px;
    font-family: 'lora';
    opacity: 0;
    animation: fade-in 1.1s ease-in-out 0.2s forwards;
    
}

#navbar h2 a:hover {
    transform: scale(1.05);
}

#navbar form {
    display: flex;
    gap: .9rem;
    opacity: 0;
    animation: fade-in 1.1s ease-in-out 0.2s forwards;
    
}

#navbar input{
    padding: .2rem .9rem;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    font-family: 'lora';
}

#foooter{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem;
    margin-right: 5px;
    background-color: #111111e7;
    width: 100%;
    opacity: 0;
    animation: fade-in 1.5s ease-in-out 0.4s forwards;
    
    
}

#navbar form button {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#navbar form button:hover{
    background-color: transparent;
    color: #f7d354;
    transform: scale(1.1);
}

@keyframes fade-in {
    0% {opacity: 0;
        visibility: hidden;
}

100% {
    opacity: 0.5;
}
}

@keyframes fade-up {
    0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px) scale(0.9);   
}

100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
}}

@media (max-width: 1200px) {
    #navbar {
        padding: 1.5rem 3rem;
    }

    #navbar h2 a {
        font-size: 28px;
    }

}

@media (max-width: 992px) {
    #navbar {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    #navbar form {
        flex-direction: column;
        gap: .7rem;
    }

    #navbar input {
        width: 100%;
    }
    #navbar form button {
        padding-left: 47%;
        padding-block: 0.3px;
    }
    #navbar h2 a {
        font-size: 24px;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    #navbar {
        padding: 1rem 1.5rem;
    }

    #navbar h2 a {
        font-size: 24px;
        padding-bottom: 0.5rem;
    }


    #foooter {
        flex-direction: column;
        padding: 1rem 0;
    }
}

@media (max-width: 576px) {
    #navbar {
        padding: 0.5rem 1rem;
    }

    #navbar h2 a {
        font-size: 20px;
    }


    #foooter {
        font-size: 0.9rem;
    }
}